ion-content{    
    --background: #000;
    --text-align: center;
}

ion-button{
    --text-align: center;
}

ion-toolbar{
    --background: #d67200;
    --color: #fff;
}

h1{
    text-align: center;
    color: #fff;
}